{% extends 'base.html.twig' %}

{% block title %}Fiche du film {% endblock %}

{% block body %}
<a href="{{ path('movie_get', [idMovie] = [idMovie]) }}">movie</a>


<style>


h1{
   
    border: solid;
}




</style>

on vas afficher le film
    {{dump(movie)}}
    <span class= "encadrer un texte "><h1 align = center>{{movie.title}}<h1></span>
    <h1 align = center>{{movie.id}}<h1>
    <h1 align=center ><img src = "https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"><h1>

{% endblock %}
